.taskCreation__textArea {
    height: 100%;
    box-sizing: border-box;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
}

.taskCreation__button {
    background-color: black;
    width: 100%;
    height: 56px;
    border-radius: 10px;
    color: white;
}

.taskCreation__button:first-child {
    margin-right: 10px;
}

.taskCreation__button:hover {
    background-color: #242222;
}

.taskCreation__button:active {
    background-color: #312F2F;
}