
.buttonUI {
    background-color: black;
    height: 56px;
    border-radius: 10px;
    color: white;
}

.buttonUI:hover {
    background-color: #242222;
}

.buttonUI:active {
    background-color: #312F2F;
}