.task {
    display: flex;
    padding: 20px;
    background-color: #eaeaeb;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    width: auto;
    cursor: pointer;

    .task__text {
        margin: 0;
        overflow: hidden;
        width: 100%;
    }

    .task__text_done {
        text-decoration: line-through;
    }
}

.task:not(:last-child) {
    margin-bottom: 12px;
}